#calendar {
    display: table;
}

.calendar--day {
    position: relative;
    border: 1px solid gray;
    width: 10em;
    height: 10em;
    padding: 0.5em;
}

.calendar--day__label {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
}