<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="static/style.css" rel="stylesheet" />
    <title>読んだ本 Advent Calendar</title>
</head>
<body>
<div id="main">
    <table id="calendar">
        {{range .CalendarRows}}
        <tr class="calendar--week">
            {{range .}}
            <td class="calendar--day">
                <div class="calendar--day__label">{{if gt .Day 0}}{{.Day}}{{end}}</div>
                <ul>
                    {{range .Entries}}
                    <li><a href="{{.Url}}">{{.Title}}</a></li>
                    {{end}}
                </ul>
            </td>
            {{end}}
        </tr>
        {{end}}
    </table>
    <form method="post" action="/post">
        <input type="hidden" name="month" value="12" />
        <label>Day: <input type="text" name="day"/></label>
        <label>Title: <input type="text" name="title"/></label>
        <label>URL: <input type="text" name="url"/></label>
        <button>Submit</button>
    </form>
</div>
</body>
</html>